:root {
  --yellow: #DDBA31;
  --blue: #123284;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Satoshi', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--yellow);
}

ul {
  list-style-type: none;
}

.vertical-align {
  display: flex;
  align-items: center;
}

input[type=text] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--yellow);
}

input[type=text]:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.weather img {
  height: 20px;
}

.home {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 80px auto;
  padding: 40px 80px;
  border-top: 2px solid black;
}

.weather { 
  margin-right: 50px;
}

@keyframes mtop {
  from { margin-top: 0;}
  to { margin-top: 15px; }
}

.invalid-location {
  margin-top: 15px;
  font-style: italic;
  animation-name: mtop;
  animation-duration: 0.3s;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.city {
  font-size: 24px;
  font-weight: 600;
}

.temp {
  font-family: 'Clash Grotesk', sans-serif;
  font-size: 200px;
  font-weight: 600;
}

.desc, .range {
  font-size: 20px;
  font-weight: 700;
}

.wind { 
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
}

ul.system {
  display: inline-flex;
  margin-top: 20px; 
  list-style-type: none;
}

ul.system button {
  background-color: transparent;
  color: black;
  background-color: transparent;
  padding: 3px 10px;
  outline: none;
  border: 1px solid black;
  border-left: none;
  transition: 0.4s ease-in-out;
}

ul.system button.selectedSystem {
  background-color: black; 
  color: white;
}

ul.system button:hover {
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

ul.system li:first-child button {
  border-radius: 9px 0 0 9px;
  border-left: 1px solid black;
}

ul.system li:last-child button {
  border-radius: 0 9px 9px 0;
}