:root {
  --yellow: #DDBA31;
  --blue: #123284;
}

/* TODO: scalabilty, pagenotfound    */

* {
  padding: 0;
  margin: 0;
  font-family: 'Satoshi', sans-serif;
  box-sizing: border-box;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

body {
  background-color: var(--yellow);
}

ul {
  list-style-type: none;
}

hr {
  border: none;
  border-top: 1px solid black;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

input[type=text] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--yellow);
}

input[type=text]:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.weather img {
  height: 20px;
}

.content {
  width: 80%;
  margin: 80px auto;
}

.home {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-top: 30px;
  border-top: 2px solid black;
}

.weather { 
  margin-right: 50px;
}

@keyframes mtop {
  from { margin-top: 0;}
  to { margin-top: 15px; }
}

.invalid-location {
  margin-top: 15px;
  font-style: italic;
  animation-name: mtop;
  animation-duration: 0.3s;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.city {
  font-size: 24px;
  font-weight: 600;
}

.temp {
  font-family: 'Clash Grotesk', sans-serif;
  font-size: 200px;
  font-weight: 600;
}

.desc, .range {
  font-size: 20px;
  font-weight: 700;
}

.wind { 
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
}

ul.system {
  display: inline-flex;
  margin-top: 20px; 
  list-style-type: none;
}

ul.system button {
  background-color: transparent;
  color: black;
  background-color: transparent;
  padding: 3px 10px;
  outline: none;
  border: 1px solid black;
  border-left: none;
  transition: 0.4s ease-in-out;
}

ul.system button.selectedSystem {
  background-color: black; 
  color: white;
}

ul.system button:hover {
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

ul.system li:first-child button {
  border-radius: 9px 0 0 9px;
  border-left: 1px solid black;
}

ul.system li:last-child button {
  border-radius: 0 9px 9px 0;
}

/* GRAPH */
.table {
  width: 100%;
}

table {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  border-collapse: collapse;
}

th {
  text-align: left;
  font-size: 13px;
  font-weight: 600;
}

tbody {
  margin-top: 40px;
}

tr {
  border-left: 20px solid var(--yellow);
  transition: 0.1s ease;
}

tr:hover {
  background-color: black;
  color: white;
  border-left: 20px solid black;
  transition: 0.1s ease;
}

thead tr:hover {
  color: black;
  background-color: transparent;
  border-left: 20px solid var(--yellow);
}

td {
  padding: 20px 0;
  font-size: 14px;
  font-weight: 500;
}